@namespace svg "http://www.w3.org/2000/svg";
@namespace xlink "http://www.w3.org/1999/xlink";
html {
  font-size: 1vw; }

body {
  margin: 0;
  font-family: "Exo-2-regular";
  line-height: 1.5;
  background-color: transparent; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.wrap,
* + .wrap {
  margin-top: 1rem; }

.error {
  color: #c0392b;
  display: none; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.woff?r3u64e") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Exo-2-light';
  font-weight: 300;
  src: url("../fonts/exo-2-light.woff2") format("woff2"); }

@font-face {
  font-family: 'Exo-2-regular';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/exo-2-regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Exo-2-bold';
  font-weight: 600;
  src: url("../fonts/exo-2-bold.woff2") format("woff2"); }

@font-face {
  font-family: 'Exo-2-bilder';
  font-weight: 800;
  src: url("../fonts/exo-2-bolder.woff2") format("woff2"); }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[data-sc-container="radial-menu"] {
  overflow: hidden;
  cursor: none;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  [data-sc-container="radial-menu"] .icon-car:before {
    content: "\e917"; }
  [data-sc-container="radial-menu"] .icon-home:before {
    content: "\e916"; }
  [data-sc-container="radial-menu"] .icon-user:before {
    content: "\e909"; }
  [data-sc-container="radial-menu"] .icon-trash:before {
    content: "\e915"; }
  [data-sc-container="radial-menu"] .icon-use-it:before {
    content: "\e912"; }
  [data-sc-container="radial-menu"] .icon-refresh:before {
    content: "\e911"; }
  [data-sc-container="radial-menu"] .icon-id-card:before {
    content: "\e910"; }
  [data-sc-container="radial-menu"] .icon-money:before {
    content: "\e913"; }
  [data-sc-container="radial-menu"] .icon-briefcase:before {
    content: "\e914"; }
  [data-sc-container="radial-menu"] .icon-key:before {
    content: "\e90f"; }
  [data-sc-container="radial-menu"] > div {
    display: flex;
    justify-content: center;
    align-items: center; }
  [data-sc-container="radial-menu"] .item-name {
    width: 50vmin;
    height: 50vmin;
    margin: 0 auto;
    position: relative;
    z-index: 1; }
  [data-sc-container="radial-menu"] .radial-menu {
    width: 50vmin;
    height: 50vmin;
    border-radius: 50%/50%;
    border: solid 1.5vw #212121;
    position: relative; }
    [data-sc-container="radial-menu"] .radial-menu > * {
      text-decoration: none;
      color: white;
      display: block;
      height: 4vw;
      width: 4vw;
      margin-left: -2vw;
      margin-top: -4vh;
      position: absolute;
      text-align: center;
      background-color: #212121;
      border-radius: 100%;
      padding: 1vw 1vw;
      display: flex;
      justify-content: center;
      align-items: center; }
      [data-sc-container="radial-menu"] .radial-menu > *::before {
        transition: font-size .5s; }
  [data-sc-container="radial-menu"] .item-name {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; }
    [data-sc-container="radial-menu"] .item-name span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vw;
      width: 10vw;
      text-align: center;
      color: #e1b12c;
      border-radius: 50%;
      background: #3b3b3b; }
      [data-sc-container="radial-menu"] .item-name span::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        height: 11vw;
        width: 11vw;
        background-image: conic-gradient(transparent 90%, #e1b12c 10%);
        z-index: -1;
        transition: transform .5s; }
  [data-sc-container="radial-menu"] .item-name,
  [data-sc-container="radial-menu"] .radial-menu,
  [data-sc-container="radial-menu"].is-hidden .item-name,
  [data-sc-container="radial-menu"].is-hidden .radial-menu {
    transition: all 0.4s ease-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  [data-sc-container="radial-menu"] .item-name,
  [data-sc-container="radial-menu"] .radial-menu {
    animation-name: show-radial; }
  [data-sc-container="radial-menu"].is-hidden .item-name,
  [data-sc-container="radial-menu"].is-hidden .radial-menu {
    animation-name: hide-radial; }
  [data-sc-container="radial-menu"] [data-name].active {
    color: #e1b12c;
    border: 1px solid #e1b12c; }
    [data-sc-container="radial-menu"] [data-name].active::before {
      font-size: 1.5rem; }
  [data-sc-container="radial-menu"] [data-name] span {
    position: absolute;
    height: 50vw; }
  [data-sc-container="radial-menu"].items-1 [data-name] span {
    width: 100vw;
    height: 100vh;
    top: -11vw; }
  [data-sc-container="radial-menu"].items-2 [data-name] span {
    width: 100vw; }
  [data-sc-container="radial-menu"].items-2 [data-name]:first-child span {
    top: -34vw; }
  [data-sc-container="radial-menu"].items-2 [data-name]:last-child span {
    top: -12vw;
    left: -50vw; }
  [data-sc-container="radial-menu"].items-3 [data-name] span {
    width: 30vw; }
  [data-sc-container="radial-menu"].items-3 [data-name]:first-child span {
    top: -40vw; }
  [data-sc-container="radial-menu"].items-3 [data-name]:nth-child(2) span {
    left: 3vw;
    top: -13vw; }
  [data-sc-container="radial-menu"].items-3 [data-name]:last-child span {
    top: -14vw;
    left: -31vw; }
  [data-sc-container="radial-menu"].items-4 [data-name] span {
    width: 18vw; }
  [data-sc-container="radial-menu"].items-4 [data-name]:first-child span {
    top: -40vw; }
  [data-sc-container="radial-menu"].items-4 [data-name]:nth-child(2) span {
    left: 10vw; }
  [data-sc-container="radial-menu"].items-4 [data-name]:nth-child(3) span {
    top: -2vw; }
  [data-sc-container="radial-menu"].items-4 [data-name]:last-child span {
    right: 10vw; }
  [data-sc-container="radial-menu"].items-5 [data-name] span {
    width: 18vw; }
  [data-sc-container="radial-menu"].items-5 [data-name]:first-child span {
    top: -40vw; }
  [data-sc-container="radial-menu"].items-5 [data-name]:nth-child(2) span {
    left: 10vw;
    top: -50vh; }
  [data-sc-container="radial-menu"].items-5 [data-name]:nth-child(3) span {
    top: -4vw;
    left: 3vw; }
  [data-sc-container="radial-menu"].items-5 [data-name]:nth-child(4) span {
    top: -6vw;
    left: -19vw; }
  [data-sc-container="radial-menu"].items-5 [data-name]:last-child span {
    right: 13vw;
    top: -55vh; }
  [data-sc-container="radial-menu"].items-6 [data-name] span {
    width: 8vw; }
  [data-sc-container="radial-menu"].items-6 [data-name]:first-child span {
    top: -40vw; }
  [data-sc-container="radial-menu"].items-6 [data-name]:nth-child(2) span {
    left: 18vw;
    top: -65vh; }
  [data-sc-container="radial-menu"].items-6 [data-name]:nth-child(3) span {
    top: -12vw;
    left: 12vw; }
  [data-sc-container="radial-menu"].items-6 [data-name]:nth-child(4) span {
    top: -1vw; }
  [data-sc-container="radial-menu"].items-6 [data-name]:nth-child(5) span {
    right: 14vw;
    top: -23vh; }
  [data-sc-container="radial-menu"].items-6 [data-name]:last-child span {
    right: 13vw;
    top: -55vh; }
  [data-sc-container="radial-menu"].items-7 [data-name] span {
    width: 8vw; }
  [data-sc-container="radial-menu"].items-7 [data-name]:first-child span {
    top: -40vw; }
  [data-sc-container="radial-menu"].items-7 [data-name]:nth-child(2) span {
    left: 15vw;
    top: -71vh; }
  [data-sc-container="radial-menu"].items-7 [data-name]:nth-child(3) span {
    left: 12vw;
    top: -20vw; }
  [data-sc-container="radial-menu"].items-7 [data-name]:nth-child(4) span {
    top: -9vw;
    left: 3vw; }
  [data-sc-container="radial-menu"].items-7 [data-name]:nth-child(5) span {
    left: -8vw;
    top: -10vw; }
  [data-sc-container="radial-menu"].items-7 [data-name]:nth-child(6) span {
    left: -24vw;
    top: -17vw; }
  [data-sc-container="radial-menu"].items-7 [data-name]:last-child span {
    right: 13vw;
    top: -68vh; }
  [data-sc-container="radial-menu"].items-8 [data-name] span {
    width: 12vw; }
  [data-sc-container="radial-menu"].items-8 [data-name]:first-child span {
    top: -44vw; }
  [data-sc-container="radial-menu"].items-8 [data-name]:nth-child(2) span {
    left: 13vw;
    top: -66vh; }
  [data-sc-container="radial-menu"].items-8 [data-name]:nth-child(3) span {
    left: 19vw;
    top: -21vw; }
  [data-sc-container="radial-menu"].items-8 [data-name]:nth-child(4) span {
    top: -10vw;
    left: 12vw; }
  [data-sc-container="radial-menu"].items-8 [data-name]:nth-child(5) span {
    left: -3vw;
    top: -4vw; }
  [data-sc-container="radial-menu"].items-8 [data-name]:nth-child(6) span {
    left: -19vw;
    top: -8vw; }
  [data-sc-container="radial-menu"].items-8 [data-name]:nth-child(7) span {
    right: 19vw;
    top: -41vh; }
  [data-sc-container="radial-menu"].items-8 [data-name]:last-child span {
    right: 13vw;
    top: -68vh; }
  [data-sc-container="radial-menu"].items-9 [data-name] span {
    width: 8vw; }
  [data-sc-container="radial-menu"].items-9 [data-name]:first-child span {
    top: -44vw; }
  [data-sc-container="radial-menu"].items-9 [data-name]:nth-child(2) span {
    left: 12vw;
    top: -68vh; }
  [data-sc-container="radial-menu"].items-9 [data-name]:nth-child(3) span {
    left: 19vw;
    top: -25vw; }
  [data-sc-container="radial-menu"].items-9 [data-name]:nth-child(4) span {
    top: -10vw;
    left: 16vw; }
  [data-sc-container="radial-menu"].items-9 [data-name]:nth-child(5) span {
    left: 5vw;
    top: -1vw; }
  [data-sc-container="radial-menu"].items-9 [data-name]:nth-child(6) span {
    left: -10vw;
    top: -2vw; }
  [data-sc-container="radial-menu"].items-9 [data-name]:nth-child(7) span {
    right: 17vw;
    top: -20vh; }
  [data-sc-container="radial-menu"].items-9 [data-name]:nth-child(8) span {
    right: 19vw;
    top: -46vh; }
  [data-sc-container="radial-menu"].items-9 [data-name]:last-child span {
    right: 12vw;
    top: -69vh; }
  [data-sc-container="radial-menu"].items-10 [data-name] span {
    width: 7vw; }
  [data-sc-container="radial-menu"].items-10 [data-name]:first-child span {
    top: -44vw; }
  [data-sc-container="radial-menu"].items-10 [data-name]:nth-child(2) span {
    left: 12vw;
    top: -68vh; }
  [data-sc-container="radial-menu"].items-10 [data-name]:nth-child(3) span {
    left: 19vw;
    top: -28vw; }
  [data-sc-container="radial-menu"].items-10 [data-name]:nth-child(4) span {
    top: -15vw;
    left: 19vw; }
  [data-sc-container="radial-menu"].items-10 [data-name]:nth-child(5) span {
    left: 11vw;
    top: -4vw; }
  [data-sc-container="radial-menu"].items-10 [data-name]:nth-child(6) span {
    left: -1vw;
    top: -1vw; }
  [data-sc-container="radial-menu"].items-10 [data-name]:nth-child(7) span {
    right: 11vw;
    top: -10vh; }
  [data-sc-container="radial-menu"].items-10 [data-name]:nth-child(8) span {
    right: 19vw;
    top: -29vh; }
  [data-sc-container="radial-menu"].items-10 [data-name]:nth-child(9) span {
    right: 19vw;
    top: -54vh; }
  [data-sc-container="radial-menu"].items-10 [data-name]:last-child span {
    right: 12vw;
    top: -69vh; }

@keyframes show-radial {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes hide-radial {
  0% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(0); } }
