@namespace svg "http://www.w3.org/2000/svg";
@namespace xlink "http://www.w3.org/1999/xlink";
html {
  font-size: 1vw; }

body {
  margin: 0;
  font-family: "Exo-2-regular";
  line-height: 1.5;
  background-color: transparent; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.wrap,
* + .wrap {
  margin-top: 1rem; }

.error {
  color: #c0392b;
  display: none; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.woff?r3u64e") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Exo-2-light';
  font-weight: 300;
  src: url("../fonts/exo-2-light.woff2") format("woff2"); }

@font-face {
  font-family: 'Exo-2-regular';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/exo-2-regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Exo-2-bold';
  font-weight: 600;
  src: url("../fonts/exo-2-bold.woff2") format("woff2"); }

@font-face {
  font-family: 'Exo-2-bilder';
  font-weight: 800;
  src: url("../fonts/exo-2-bolder.woff2") format("woff2"); }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.form-widget {
  position: relative; }
  .form-widget:not(:first-child) {
    margin-top: 2rem; }
  .form-widget input {
    border: none;
    background: none;
    width: 100%;
    color: #fff;
    padding: 0.625rem 0;
    border-bottom: 1px solid #ececec;
    font: 500 1.125rem "Exo-2-regular"; }
    .form-widget input::-webkit-outer-spin-button, .form-widget input::-webkit-inner-spin-button {
      -webkit-appearance: none; }
    .form-widget input:focus {
      outline: none; }
      .form-widget input:focus ~ label {
        top: -1.25rem;
        font-size: 0.875rem;
        color: #e1b12c; }
      .form-widget input:focus ~ .bar:before,
      .form-widget input:focus ~ .bar:after {
        width: 50%; }
    .form-widget input:valid ~ label {
      top: -1.25rem;
      font-size: 0.875rem; }
  .form-widget label {
    position: absolute;
    color: #6e6e6e;
    font-size: 1rem;
    pointer-events: none;
    top: 0.625rem;
    transition: 0.2s ease all; }
  .form-widget .bar {
    position: relative;
    display: block;
    width: 100%;
    margin: 1px 0 0 0; }
    .form-widget .bar:before {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background-color: #2f3640;
      opacity: 1;
      transition: 0.3s ease all;
      left: 50%; }
    .form-widget .bar:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background-color: #2f3640;
      transition: 0.3s ease all;
      right: 50%; }
  .form-widget ::placeholder {
    color: #ececec;
    opacity: 1; }

button,
button::after {
  transition: .5s; }

button {
  position: relative;
  overflow: hidden;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font: 500 1.125rem "Exo-2-regular";
  padding: 0.625rem;
  min-width: 13ch;
  cursor: pointer;
  box-sizing: content-box; }
  button span {
    position: relative;
    z-index: 1;
    transition: .5s; }
  button span.icon-refresh {
    display: grid;
    transform: rotate(0deg); }
  button span[class*="icon-"] {
    transition: .5s; }
  button::before, button::after {
    background: #e1b12c;
    content: '';
    position: absolute; }
  button::after {
    height: 100%;
    left: -35%;
    top: 0;
    transform: skew(21deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0; }
  button:focus, button:hover {
    outline: none;
    color: #fff; }
    button:focus::after, button:hover::after {
      height: 100%;
      width: 135%; }
    button:focus span[class*="icon-"], button:hover span[class*="icon-"] {
      font-size: 1.3rem; }
    button:focus span.icon-refresh, button:hover span.icon-refresh {
      transform: rotate(360deg); }
  button:disabled {
    background-color: #b2b2b2;
    color: currentColor;
    cursor: default; }
    button:disabled:hover::after {
      width: 0; }

:root.js [data-sc-container="inventory"] .tradingInventory {
  display: none;
  opacity: 0;
  transition: opacity 0.5s; }
  :root.js [data-sc-container="inventory"] .tradingInventory.is-visible {
    display: grid;
    opacity: 1; }

[data-sc-container="inventory"] .icon-car:before {
  content: "\e917"; }

[data-sc-container="inventory"] .icon-home:before {
  content: "\e916"; }

[data-sc-container="inventory"] .icon-user:before {
  content: "\e909"; }

[data-sc-container="inventory"] .icon-trash:before {
  content: "\e915"; }

[data-sc-container="inventory"] .icon-use-it:before {
  content: "\e912"; }

[data-sc-container="inventory"] .icon-refresh:before {
  content: "\e911"; }

[data-sc-container="inventory"] .icon-id-card:before {
  content: "\e910"; }

[data-sc-container="inventory"] .icon-money:before {
  content: "\e913"; }

[data-sc-container="inventory"] .icon-briefcase:before {
  content: "\e914"; }

[data-sc-container="inventory"] .icon-key:before {
  content: "\e90f"; }

[data-sc-container="inventory"] [id="inventory-container"] {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr 0.5fr;
  grid-template-rows: auto auto;
  grid-template-areas: ". . ownInventoryTop . ." ". tradingInventory ownInventory tradingPartners .";
  grid-auto-rows: max-content;
  grid-column-gap: 0.5rem;
  height: 100vh;
  align-content: center; }
  [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory] {
    background-color: rgba(0, 0, 0, 0.5);
    height: 60vh;
    align-items: start;
    overflow-y: scroll; }
    [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory]::-webkit-scrollbar {
      width: 0.5rem; }
    [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory]::-webkit-scrollbar-track {
      background-color: #212121; }
    [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory]::-webkit-scrollbar-thumb {
      background-color: #2f3640; }
  [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory="tradingInventory"],
  [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory="ownInventory"] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    padding: 1rem;
    align-content: start; }
    [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory="tradingInventory"] > *,
    [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory="ownInventory"] > * {
      display: grid;
      justify-items: center;
      position: relative;
      transition: opacity 0.5s;
      background-color: #212121;
      padding-top: 100%; }
      [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory="tradingInventory"] > *:hover .name,
      [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory="ownInventory"] > *:hover .name {
        opacity: 1; }
      [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory="tradingInventory"] > * > *,
      [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory="ownInventory"] > * > * {
        position: absolute;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%; }
      [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory="tradingInventory"] > * > img,
      [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory="ownInventory"] > * > img {
        box-sizing: border-box;
        padding: 1rem;
        width: 85%;
        margin-top: -0.5rem; }
      [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory="tradingInventory"] > * > .name,
      [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory="ownInventory"] > * > .name {
        z-index: 1;
        transition: opacity 0.5s;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.5);
        text-shadow: 1px 2px 3px black; }
      [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory="tradingInventory"] > * > .count,
      [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory="ownInventory"] > * > .count {
        bottom: 0;
        right: 0;
        background-color: #545454;
        border-top-left-radius: 1rem;
        width: auto;
        height: 1rem;
        padding: 0.8rem;
        font-weight: bold; }
    [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory="tradingInventory"] > :last-child,
    [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory="ownInventory"] > :last-child {
      margin-bottom: 1rem; }
  [data-sc-container="inventory"] [id="inventory-container"] [draggable="true"] {
    cursor: grab; }
  [data-sc-container="inventory"] [id="inventory-container"] [data-position] {
    display: grid;
    grid-template-columns: 1fr 1fr 0.25fr;
    grid-template-areas: ". . refresh";
    grid-gap: 1rem; }
    [data-sc-container="inventory"] [id="inventory-container"] [data-position] button {
      border-bottom: none; }
    [data-sc-container="inventory"] [id="inventory-container"] [data-position] > :last-child {
      min-width: auto;
      grid-area: refresh; }
  [data-sc-container="inventory"] [id="inventory-container"] [data-position="ownInventoryTop"] {
    grid-area: ownInventoryTop; }
  [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory="tradingInventory"] {
    grid-area: tradingInventory; }
  [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory="ownInventory"] {
    grid-area: ownInventory; }
  [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory="tradingPartners"] {
    grid-area: tradingPartners;
    color: #fff;
    cursor: default;
    box-sizing: border-box; }
    [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory="tradingPartners"] > * {
      cursor: pointer;
      display: grid;
      grid-template-columns: 2rem auto;
      grid-template-areas: "icon id";
      align-items: center;
      font-size: 1.5rem;
      padding: 1rem;
      background-color: transparent;
      transition: background-color 0.5s; }
      [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory="tradingPartners"] > *:not(:first-child) {
        border-top: 2px solid #fff; }
      [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory="tradingPartners"] > * > :first-child {
        grid-area: icon;
        justify-self: center; }
      [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory="tradingPartners"] > * > :last-child {
        grid-area: id;
        justify-self: end; }
      [data-sc-container="inventory"] [id="inventory-container"] > [data-inventory="tradingPartners"] > *:hover {
        transition: background-color 0.5s;
        background-color: rgba(0, 0, 0, 0.5); }

[data-sc-container="popup"] {
  padding: 2rem;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; }
  [data-sc-container="popup"].is-visible {
    display: flex;
    visibility: visible;
    opacity: 1; }
  [data-sc-container="popup"] > * {
    width: 30rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.5); }
  [data-sc-container="popup"] button {
    min-width: 100%;
    box-sizing: border-box; }

[data-sc-container="contextmenu"] {
  z-index: 3;
  display: none;
  position: absolute;
  color: #fff;
  background-color: #212121;
  padding: 0; }
  [data-sc-container="contextmenu"] li {
    transition: background-color 0.25s;
    list-style: none;
    padding: 0.5rem 1rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    white-space: nowrap; }
    [data-sc-container="contextmenu"] li:hover {
      cursor: pointer;
      background-color: #3b3b3b; }
    [data-sc-container="contextmenu"] li > *:first-child {
      margin-right: 0.5rem; }
